@model IEnumerable<SmartMarket.BLL.ViewModels.DisplayBalanceModel>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="user-bar">
            <span>@item.Cash</span>
            <a id="info-icon" title="Info" href="#"></a>
            @Ajax.ActionLink(" ", "DetachBalance", "Private", new { id = item.ID } ,new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "detach-modal"}, new { @class = "detach-balance-icon", title = "Detach card" })
            
            @*<a id="detach-balance-icon" title="Detach card" href="#"></a>*@
        </div>
    }
}

