/*global settings
----------------------------------------------------------------------------------------------*/
@font-face
{
    font-family: OpenSans-Light;
    src: url(../fonts/OpenSans-Light.ttf);
}

@font-face
{
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face
{
    font-family: Comfortaa-light;
    src: url(../fonts/comfortaa-light.ttf);
}

*{
    margin: 0;
    padding: 0;
}

html
{
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
{
    display: block;
}

body
{
    font: 14px/18px OpenSans-Regular, sans-serif;
    height: 100%;
    overflow-x: hidden;
}

/* layout *//*aside menu
----------------------------------------------------------------------------------------------*/

.sidenav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    transition: left 1s cubic-bezier(0.28, 1.22, 0.3, 1.22);
}

    .sidenav .menu-header
    {
        height: 80px;
        background-color: #000000;
    }

    .sidenav .menu-content
    {
        padding: 30px;
        overflow-y: auto;
        height: 100%;
        background-color: #f2f2f2;
        border-right: 6px solid #2E2A2B;
    }

        .sidenav .menu-content ul
        {
            color: #bababa;
            list-style: none;
        }

            .sidenav .menu-content ul li
            {
                margin-bottom: 30px;
            }

            .sidenav .menu-content ul a
            {
                font-size: 20px;
                margin-bottom: 3px;
                display: block;
                padding-left: 40px;
                position: relative;
                word-wrap: break-word;
            }

                .sidenav .menu-content ul a:before
                {
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 6px;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 4px;
                    background-color: #dddddd;
                }

a
{
    text-decoration: none;
}

.non-active-item a
{
    color: #808080;
}
    .non-active-item a:hover
    {
        color: #6ea8f8;
    }

.active-item a
{
    color: #ff7e00;
}

    .sidenav .menu-header a
    {
        font-size: 23px;
        text-decoration: none;
        width: 280px;
        color: #fff;
        display: inline-block;
    }

        .sidenav .menu-header a > span
        {
            font-size: 30px;
            margin-top: 25px;
            margin-left: 40px;
            display: inline-block;
        }

.logo
{
    height: 80px;
    width:233px;
    overflow:visible;
    float:left;
}
.bulb
{
    width: 50px;
    height: 80px;
    overflow: visible;
    float: left;
}

.user-bar
{
    background-color: #484848;
    display: block;
    height: 54px;
    width: calc(100% - 6px);
    border-right: 6px solid #2E2A2B;
}

    .user-bar span
    {
        width: 45%;
        display: inline-block;
        text-align: center;
        font-family: OpenSans-Light;
        font-size: 18px;
        line-height: 54px;
        color: #ffffff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: default;
    }

#profile-icon
{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 15px 0;
    background: url(../Content/Images/user-bar.png) 0 0 no-repeat;
}
    #profile-icon:hover
    {
        background-position: -25px 0;
    }

#logout-icon
{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin:15px;
    background: url(../Content/Images/user-bar.png) -50px 0 no-repeat;
}
    #logout-icon:hover
    {
        background-position: -75px 0;
    }

/*MUST Refactoring*/
#attach-balance-icon
{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 15px;
    background: url(../Content/Images/attach_balance.png);
}

    #attach-balance-icon:hover
    {
        background: url(../Content/Images/attach_balance_hover.png);
    }

#detach-balance-icon
{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 15px 0;
    background: url(../Content/Images/detach_balance.png);
}

    #detach-balance-icon:hover
    {
        background: url(../Content/Images/detach_balance_hover.png);
    }
#balance-icon
{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 15px;
    background: url(../Content/Images/coins.png);
}

    #balance-icon:hover
    {
        background: url(../Content/Images/coins_hover.png);
    }

#info-icon
{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 15px;
    background: url('../Content/Images/information.png');
}

    #info-icon:hover
    {
        background: url('../Content/Images/information_hover.png');
    }




/* index *//*content
----------------------------------------------------------------------------------------------*/

.main-container
{
    max-width: 1200px;
    min-width: 300px;
    margin-left: 300px;
    margin-top: 80px;
    width: calc(100% - 300px);
    height: 100%;
}

.row
{
    clear: both;
    overflow: hidden;
    width:100%;
}

.row > div
{
    position: relative;
    float: left;
}

#first-row
{
    background-color: #efefef;
}

#first-first
{
    width: 50%;
    height: 480px;
}
#first-second
{
    width: 50%;
    height: 480px;
}

#second-first
{
    width: 100%;
    height: 700px;
}

.full-width
{
    width:100%;
}

.half-width
{
    width: 50%;
}



.main-img
{
    width: auto;
    height: 100%;
    display: block;
}

.z-highest
{
    z-index:1000;
}

.z-high
{
    z-index: 750;
}

.z-middle
{
    z-index: 500;
}

.z-low
{
    z-index: 250;
}

.z-lowest
{
    z-index: 100;
}

#description-block
{
    cursor: pointer;
    transition: 1s;
    background-color: #000;
    height: 100%;
    width:50%;
}

#description-block a, span, ul
{
    color:#fff;
}

.social-block
{
    padding-left: 10%;
    padding-bottom: 15%;
}

.icons-block
{
    margin: auto;
    width: 200px;
}

.authMessage
{
    color: #ff7801;
    font-size: 48px;
    line-height: 55px;
    padding-bottom: 35px;
    font-family: OpenSans-Light;
}

.auth-img
{
    margin-right: 2px;
    height: 54px;
    width: 54px;
    display: inline-block;
    background-position: left top;
    background-repeat: no-repeat;
}

    .auth-img:hover
    {
        background-position: left bottom;
    }

.vk
{
    background-image: url(Images/Auth/vk_icons.png);
}

.fb
{
    background-image: url(Images/Auth/fb_icons.png);
}

.ld
{
    background-image: url(Images/Auth/ln_icons.png);
}

#login-block
{
    width: calc(50% - 15px - 100px);
    padding: 50px;
    float:left;
}

.slider
{
    float: left;
    cursor: pointer;
    margin-top: 200px;
    margin-left: 3px;
    margin-right: 3px;
    float: left;
    height: 120px;
    width: 24px;
    background-image: url(Images/expand.png);
    background-repeat: repeat-y;
    transition: 0.2s;
}

#registry-block
{
    width: calc(50% - 15px - 100px);
    padding:50px;
    float:left;
}

.description
{
    padding: 50px;
}

.absolute
{
    position:absolute;
}
.right-bottom
{
    right: 0;
    bottom: 0;
}

.left-bottom
{
    left: 0;
    bottom: 0;
}

.right-top
{
    right: 0;
    top: 0;
}

    .right-top.half-right
    {
        right: 50%;
    }

.left-top
{
    left: 0;
    top: 0;
}


.slider-right:hover
{
    margin-right: 0;
    margin-left:6px;
    
}

.slider-left:hover
{
    margin-left: 0;
}

.expand-div
{
    width:100%;
    transition:1s;
}






.title
{
    font-size: 22px;
    font-weight: bold;
}

.technologies-list
{
    margin: 15px 0 15px 35px;
}

.profile-container-wrapper
{
    max-width: 400px;
    min-width: 300px;
    width: calc(100% - 50px);
    float: left;
    margin-right: 50px;
}

.profile-item
{
    width: 100%;
    cursor: default;
    text-align: left;
}

.profile-label
{
    font-family: OpenSans-Light;
    font-size: 32px;
    color: #292929;
    line-height: 48px;
    padding: 10px 0 10px 36px;
}

    .profile-label ul
    {
        font-size: 20px;
        color: #292929;
    }
    
    .checkbox > input[type="checkbox"]
    {
        transform: scale(3);
        margin: 3px 3px 3px 13px;
    }

.required
{
    color: red;
}

.profile-textbox
{
    padding-left: 33px;
    width: 100%;
}

    .profile-textbox input
    {
        width: 100%;
        height: 25px;
        Font-family: OpenSans, sans-serif;
        font-size: 18px;
        font-weight: normal;
        color: #666666;
        border-bottom: solid 1px #bababa;
    }

.text-box
{
    border-width: 0 0 1px 0;
    outline: 0;
    border-color: #bababa;
    font-size: 16px;
    color: #5a5959;
}

p
{
    display: block;
}

/* MUST embed refactored*/
.submit-button
{
    border-radius: 25px;
    width: 120px;
    background-color: #999999;
    line-height: 50px;
    border: solid 2px #999999;
    font-size: 18px;
    Font-family: OpenSans-Semibold, sans-serif;
    color: #999999;
    text-align: center;
    cursor: pointer;
    background: none;
    margin: 30px 100px 0 35px;
}
    .submit-button:hover
    {
        background-color: #5886F9;
        border-color: #5886F9;
        color: #f9f9f9;
    }

    .submit-button:focus
    {
        outline: none;
    }

.attach-button
{
    border-radius: 25px;
    width: 200px;
    background-color: #999999;
    line-height: 50px;
    border: solid 2px #999999;
    font-size: 18px;
    Font-family: OpenSans-Semibold, sans-serif;
    color: #999999;
    text-align: center;
    cursor: pointer;
    background: none;
    margin: 30px 100px 0 35px;
}
    .attach-button:hover
    {
        background-color: #5886F9;
        border-color: #5886F9;
        color: #f9f9f9;
    }

    .attach-button:focus
    {
        outline: none;
    }



.header
{
    height: 80px;
    width: 100%;
    margin-left: 300px;
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
}

.page-title
{
    margin-left: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
    max-width: 75%;
}

.head-title
{
    font-size: 18px;
    color: #ffffff;
    margin-top: 30px;
    display: inline-block;
}


.edit-conteiner
{
    padding:50px;
}

.status-message
{
    display: block;
    padding-left: 80px;
    background-color: #92B271;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 80px);
    color: #ffffff;
    cursor: default;
    font-family: OpenSans-Light;
    font-size: 18px;
    line-height: 80px;
    text-align: left;
    border-left: solid 1px #f1f1f1;
}

#registry-block .status-message
{
    width: calc(50% - 80px);
}

#done_icon
{
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    margin: 25px 0;
    margin-left: 34px;
    background: url(../Content/Images/done_icon.png) no-repeat;
}

/* The Modal (background) */
.modal
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content
{
    background-color: #fefefe;
    margin-top: calc(5% + 80px);
    margin-left: calc(5% + 300px);
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
    height: 350px;
}

/* The Close Button */
.close
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus
    {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

@media (max-width: 1200px)
{
    .header
    {
        margin:0;
    }

    .sidenav 
    {
        opacity:0.95;
    }

    .main-container
    {
        width: 100%;
        min-width: 750px;
        margin-left: 0;
        transition: margin-left 1s;
    }

    .hide-menu
    {
        left: -340px;
    }

    .menu-open-close
    {
        cursor: pointer;
        margin: 0 auto;
        position: fixed;
        top:0;
        left:0;
        width: 80px;
        height: 80px;
        background-color: #000;
        display: initial;
        opacity: 0.95;
    }

    .menu-global
    {
        backface-visibility: hidden;
        position: absolute;
        left: 28px;
        border-top: 3px solid white;
        width: 24px;
        transition: 0.55s;
    }

    .menu-top
    {
        top: 33px;
    }

    .menu-middle
    {
        top: 41px;
    }

    .menu-bottom
    {
        top: 49px;
    }

    .menu-top-click
    {
        backface-visibility: hidden;
        top: 40px;
        transform: rotate(50deg);
        transition: 0.55s 0.5s;
    }

    .menu-middle-click
    {
        opacity: 0;
    }

    .menu-bottom-click
    {
        backface-visibility: hidden;
        top: 40px;
        transform: rotate(-410deg);
        transition: 0.55s 0.5s;
    }
}

@media (max-width: 830px)
{
    .row > div
    {
        float: none;
    }

    #first-first
    {
        height: 480px;
        width: 100%;
    }

    #first-second
    {
        height: 350px;
        width: 100%;
    }

    #second-first
    {
        width: 100%;
    }

    .social-block{
        padding:10%;
    }

    .slider
    {
        display: none;
    }

    .login-block
    {
        height: 300px;
        width: calc(100% - 100px);
        border-bottom: 2px solid black;
    }

    .registry-block
    {
        width: calc(100% - 100px);
        height: 500px;
        border-bottom: 2px solid black;
    }

    #description-block
    {
        width:100%;
        height:350px;
    }

    #second-row .absolute
    {
        position:relative;
    }

    #second-first > div
    {
        float:left;
    }
}


