/*global settings
----------------------------------------------------------------------------------------------*/
@font-face
{
    font-family: OpenSans-Light;
    src: url(fonts/OpenSans-Light.ttf);
}

@font-face
{
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face
{
    font-family: Comfortaa-light;
    src: url(fonts/comfortaa-light.ttf);
}

*
{
    margin: 0;
    padding: 0;
}

html
{
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
{
    display: block;
}

body
{
    font: 14px/18px OpenSans-Regular, sans-serif;
    height: 100%;
    overflow: hidden;
}

/*aside menu
----------------------------------------------------------------------------------------------*/ 

.sidenav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    opacity: 0.95;
    transition: left 1s ease-in-out;
    z-index: 900;
}

    .sidenav .menu-header
    {
        height: 80px;
        padding-left: 80px;
        background-color: #000000;
    }

    .sidenav .menu-content
    {
        padding: 17px 17px 0px 20px;
        overflow-y: auto;
        height: 100%;
        box-sizing: border-box;
        background-color: #f2f2f2;
    }

        .sidenav .menu-content ul
        {
            color: #bababa;
            list-style: none;
        }

            .sidenav .menu-content ul li
            {
                margin-bottom: 30px;
            }

            .sidenav .menu-content ul a
            {
                font-size: 16px;
                margin-bottom: 3px;
                display: block;
                padding-left: 40px;
                position: relative;
                word-wrap: break-word;
            }

                .sidenav .menu-content ul a:before
                {
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 6px;
                    display: block;
                    position: absolute;
                    left: 0px;
                    top: 4px;
                    background-color: #dddddd;
                }

a
{
    text-decoration: none;
}

.non-active-item a
{
    color: #808080;
}
    .non-active-item a:hover
    {
        color: #6ea8f8 !important;
    }

.active-item a
{
    color: #ff7e00;
}

    .sidenav .menu-header a
    {
        font-size: 23px;
        text-decoration: none;
        width: 280px;
        color: #fff;
        display: inline-block;
    }

        .sidenav .menu-header a > span
        {
            font-size: 30px;
            margin-top: 25px;
            margin-left: 40px;
            display: inline-block;
        }

.logo
{
    height: 120px;
    float: right;
}






/*content
----------------------------------------------------------------------------------------------*/

.main-container
{
    max-width: 1200px;
    min-width: 300px;
    margin-left: 300px;
    width: calc(100% - 300px);
    height: 100%;
    box-sizing:content-box;
}

.content-container
{
    width:50%;
    height:450px;
}

.fl
{
    float: left;
}

.main-img
{
    max-width: 700px;
    min-width: 500px;
    width: 100%;
    height: auto;
    display: block;
}






@media (max-width: 1200px)
{
    /*body{
        padding-left:0px;
    }*/
    .main-container
    {
        margin-left: 0px;
        transition: margin-left 1s;
    }

    .hide-menu
    {
        left: -340px;
    }

    .menu-open-close
    {
        cursor: pointer;
        margin: 0 auto;
        position: fixed;
        width: 80px;
        height: 80px;
        background-color: #000;
        display: initial;
        z-index: 1000;
        opacity: 0.95;
    }

    .menu-global
    {
        backface-visibility: hidden;
        position: absolute;
        left: 28px;
        border-top: 3px solid white;
        width: 24px;
        transition: 0.55s;
    }

    .menu-top
    {
        top: 33px;
    }

    .menu-middle
    {
        top: 41px;
    }

    .menu-bottom
    {
        top: 49px;
    }

    .menu-top-click
    {
        backface-visibility: hidden;
        top: 40px;
        transform: rotate(50deg);
        transition: 0.55s 0.5s;
    }

    .menu-middle-click
    {
        opacity: 0;
    }

    .menu-bottom-click
    {
        backface-visibility: hidden;
        top: 40px;
        transform: rotate(-410deg);
        transition: 0.55s 0.5s;
    }
}

@media (max-width: 900px)
{
    .fl
    {
        float:none;
    }
    .content-container
    {
        width:100%;
        float: none;
    }
}


