@{ 
    ViewBag.Title = "SMART MARKET";
}

<div id="first-row" class="row">
    <div id="first-first" >
        <div class="absolute right-bottom">
            <img class="main-img" src="~/Content/Images/01.jpg" />
        </div>
    </div>
    <div id="first-second">
        <div class="absolute left-bottom social-block">
            <div class="authMessage">PLEASE AUTHORIZE TO GETTING ACCESS</div>
            <div class="icons-block">
                <a class="auth-img vk" href="/OAuth/LogOn?socialNetworksProvider=Vkontakte" title="Sign In to SMART MARKET through Vkontakte"></a>

                <a class="auth-img fb" href="/OAuth/LogOn?socialNetworksProvider=Facebook" title="Sign In to SMART MARKET through Facebook"></a>

                <a class="auth-img ld" href="/OAuth/LogOn?socialNetworksProvider=Linkedin" title="Sign In to SMART MARKET through LinkedIn"></a>
            </div>
        </div>
    </div>
</div>
    
<div id="second-row" class="row">
    <div id="second-first">
        <div class="absolute left-top">
            <div id="login-block">
                <form action="#" id="loginForm" method="post">
                    <div class="profile-container-wrapper ">
                        <div class="profile-item">
                            <div class="profile-label">
                                EMAIL:
                            </div>
                            <div class="profile-textbox">
                                <input class="text-box single-line" id="Email" name="Email" type="text" value="">
                            </div>
                        </div>
                    </div>

                    <div class="profile-container-wrapper">
                        <div class="profile-item">
                            <div class="profile-label">
                                PASSWORD: <span class="required">*</span>
                            </div>
                            <div class="profile-textbox">
                                <input class="text-box single-line" data-val="true" id="Password" name="Password" type="password" value="">
                            </div>
                        </div>
                    </div>
                    <div class="profile-container-wrapper">
                        <input type="submit" id="loginButton" value="Login" class="submit-button">
                    </div>
                </form>
            </div>
            <div id="slider" onclick="moveDiv()" class="slider slider-left"></div>
            <div id="registry-block">
                <form action="#" id="registerForm" method="post">
                    <div class="profile-container-wrapper ">
                        <div class="profile-item">
                            <div class="profile-label">
                                EMAIL:
                            </div>
                            <div class="profile-textbox">
                                <input class="text-box single-line" id="Email" name="Email" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="profile-container-wrapper">
                        <div class="profile-item">
                            <div class="profile-label">
                                PASSWORD: <span class="required">*</span>
                            </div>
                            <div class="profile-textbox">
                                <input class="text-box single-line" data-val="true" id="Password" name="Password" type="password" value="">
                            </div>
                        </div>
                    </div>
                    <div class="profile-container-wrapper">
                        <div class="profile-item">
                            <div class="profile-label">
                                NAME:
                            </div>
                            <div class="profile-textbox">
                                <input class="text-box single-line" id="Name" name="Name" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="profile-container-wrapper">
                        <div class="profile-item">
                            <div class="profile-label">
                                LASTNAME:
                            </div>
                            <div class="profile-textbox">
                                <input class="text-box single-line" id="LastName" name="LastName" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="profile-container-wrapper">
                        <input type="submit" id="loginButton" value="Registry" class="submit-button">
                    </div>
                </form>
            </div>
        </div>
        <div onclick="moveDiv()" id="description-block" class="absolute right-top">
            <div class="description">
                <a href="#" class="title">Kharkiv National University of Radioelectronics</a>
                <br>
                <br>
                <span>
                    Welcome to a platform where you can find a variety
                    of tests in programming languages and IT disciplines.
                </span>
                <br>
                <br>
                <span>
                    Take tests in:
                </span>
                <ul class="technologies-list">
                    <li>C++</li>
                    <li>.NET</li>
                    <li>Java</li>
                    <li>JavaScript</li>
                    <li>QA/Testing</li>
                </ul>
                <span>
                    And if you feel that you need to deepen your knowledge,
                    our useful books and lectures are at your service!
                </span>
            </div>
        </div>
    </div>
</div>