@{ 
    ViewBag.Title = "SMART MARKET";
}


<div class="about">
    <div class="top-left">
        
    </div>
    <div class="top-right">
       
    </div>
    <div class="bottom-left">


    </div>
    <div class="bottom-right">
        
    </div>
</div>